<% include ../partials/header %>

<div class="container" style="text-align: center">
    <!-- <header class="jumbotron" style="text-align: center"> -->
        <h1>Edit comment for <%= campground.name %></h1>
    <!-- </header> -->
</div>

<div class="container">
    <div class="row" style="width: 30%; margin: 25px auto;">
        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" value="<%= comment.text %>" name="commentText">
            </div>
            <!-- <div class="form-group">        
                <input class="form-control" type="text" placeholder="Author" name="comment[author]">
            </div> -->
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Update</button> 
            </div>
        </form>
        <a href="/campgrounds">Go back</a>
    </div>
</div>

<% include ../partials/footer %>